n8n-workflow-healthcare-cskh.json
{
  "name": "Healthcare CSKH - Complete System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "id": "schedule-survey",
      "name": "⏰ Schedule Survey Send",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/appointments?status=COMPLETED&limit=100",
        "options": {}
      },
      "id": "get-appointments",
      "name": "🔍 Get Completed Appointments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const appointments = $input.first().json.data || [];\nconst items = [];\nconst twentyFourHoursAgo = new Date(Date.now() - 24 * 60 * 60 * 1000);\n\nconsole.log(`Processing ${appointments.length} appointments...`);\n\nfor (const apt of appointments) {\n  const appointmentTime = new Date(apt.startTimeLocal);\n  if (!apt.survey_sent && appointmentTime <= twentyFourHoursAgo) {\n    items.push({ json: apt });\n    console.log(`✅ ${apt.patientName} needs survey`);\n  }\n}\n\nconsole.log(`Found ${items.length} appointments needing surveys`);\nreturn items;"
      },
      "id": "filter-surveys",
      "name": "🎯 Filter Need Survey",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/emails/send-survey",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointmentId\": \"{{ $json.id }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"fullName\": \"{{ $json.patientName }}\",\n  \"doctor\": \"{{ $json.doctor }}\"\n}",
        "options": {}
      },
      "id": "send-survey",
      "name": "📧 Send Survey Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.BACKEND_URL }}/api/appointments/{{ $json.id }}/survey-sent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"survey_sent\": true,\n  \"survey_sent_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "update-survey-sent",
      "name": "✅ Mark Survey Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-survey",
      "name": "🎤 Webhook Survey",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "webhookId": "healthcare-survey"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/surveys/submit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "process-survey",
      "name": "📊 Process Survey",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.data.needsImprovement }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-improvement",
      "name": "❓ Needs Improvement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/ai/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"surveyData\": {{ JSON.stringify($json.data.data) }}\n}",
        "options": {}
      },
      "id": "ai-analyze",
      "name": "🤖 AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/alerts/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"surveyData\": {{ JSON.stringify($('📊 Process Survey').item.json.data.data) }},\n  \"aiAnalysis\": \"{{ $json.data.analysis }}\"\n}",
        "options": {}
      },
      "id": "send-alert",
      "name": "🚨 Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Survey received\" }",
        "options": {}
      },
      "id": "respond-survey",
      "name": "✉️ Respond Survey",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 700]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-voice",
      "name": "📞 Webhook Voice",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 900],
      "webhookId": "healthcare-voice"
    },
    {
      "parameters": {
        "jsCode": "const signature = $request.headers['x-elevenlabs-signature'];\nconst expected = $env.ELEVENLABS_WEBHOOK_SECRET;\n\nif (expected && signature !== expected) {\n  throw new Error('Invalid signature');\n}\n\nconsole.log('✅ Webhook validated');\nreturn [$input.all()];"
      },
      "id": "validate-voice",
      "name": "🔐 Validate Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/voice-calls/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "process-voice",
      "name": "🎙️ Process Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 900]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.insights.sentiment }}",
              "operation": "equals",
              "value2": "NEGATIVE"
            }
          ]
        }
      },
      "id": "check-sentiment",
      "name": "❓ Negative?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/alerts/voice-alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callData\": {{ JSON.stringify($json.data) }}\n}",
        "options": {}
      },
      "id": "voice-alert",
      "name": "🚨 Voice Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 800]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {}
      },
      "id": "respond-voice",
      "name": "✉️ Respond Voice",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 1000]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 2}]
        }
      },
      "id": "schedule-calls",
      "name": "⏰ Schedule Calls",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 1200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/appointments/need-voice-call",
        "options": {}
      },
      "id": "get-call-candidates",
      "name": "🔍 Get Call Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 1200]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "📦 Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/voice-calls/initiate/{{ $json.id }}",
        "options": {}
      },
      "id": "initiate-call",
      "name": "📞 Initiate Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 1200]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-calls",
      "name": "⏳ Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 1200]
    }
  ],
  "connections": {
    "⏰ Schedule Survey Send": {
      "main": [[{"node": "🔍 Get Completed Appointments", "type": "main", "index": 0}]]
    },
    "🔍 Get Completed Appointments": {
      "main": [[{"node": "🎯 Filter Need Survey", "type": "main", "index": 0}]]
    },
    "🎯 Filter Need Survey": {
      "main": [[{"node": "📧 Send Survey Email", "type": "main", "index": 0}]]
    },
    "📧 Send Survey Email": {
      "main": [[{"node": "✅ Mark Survey Sent", "type": "main", "index": 0}]]
    },
    "🎤 Webhook Survey": {
      "main": [[{"node": "📊 Process Survey", "type": "main", "index": 0}]]
    },
    "📊 Process Survey": {
      "main": [[
        {"node": "❓ Needs Improvement?", "type": "main", "index": 0},
        {"node": "✉️ Respond Survey", "type": "main", "index": 0}
      ]]
    },
    "❓ Needs Improvement?": {
      "main": [[{"node": "🤖 AI Analysis", "type": "main", "index": 0}]]
    },
    "🤖 AI Analysis": {
      "main": [[{"node": "🚨 Send Alert", "type": "main", "index": 0}]]
    },
    "📞 Webhook Voice": {
      "main": [[{"node": "🔐 Validate Signature", "type": "main", "index": 0}]]
    },
    "🔐 Validate Signature": {
      "main": [[{"node": "🎙️ Process Voice", "type": "main", "index": 0}]]
    },
    "🎙️ Process Voice": {
      "main": [[
        {"node": "❓ Negative?", "type": "main", "index": 0},
        {"node": "✉️ Respond Voice", "type": "main", "index": 0}
      ]]
    },
    "❓ Negative?": {
      "main": [[{"node": "🚨 Voice Alert", "type": "main", "index": 0}]]
    },
    "⏰ Schedule Calls": {
      "main": [[{"node": "🔍 Get Call Candidates", "type": "main", "index": 0}]]
    },
    "🔍 Get Call Candidates": {
      "main": [[{"node": "📦 Split Batches", "type": "main", "index": 0}]]
    },
    "📦 Split Batches": {
      "main": [[{"node": "📞 Initiate Call", "type": "main", "index": 0}]]
    },
    "📞 Initiate Call": {
      "main": [[{"node": "⏳ Wait 5s", "type": "main", "index": 0}]]
    },
    "⏳ Wait 5s": {
      "main": [[{"node": "📦 Split Batches", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-11-24T00:00:00.000Z",
  "versionId": "1"
}
